wallpapers/aether-mondstat.mp4
wallpapers/arlecchino.png
wallpapers/city-catppuccin.png
wallpapers/Columbina2.mp4
wallpapers/yae-miko.mp4
wallpapers/Roadtrip.png
wallpapers/lumine.mp4
wallpapers/old-catppuccin.png
wallpapers/lumine-liyue.mp4
wallpapers/lofigirl-catppuccin.jpg
wallpapers/girl-catppuccin.png
wallpapers/levantamiento.mp4
wallpapers/girl-catppuccin.jpg
wallpapers/furina.mp4
wallpapers/furina-water.mp4
wallpapers/fantasy-catppuccin.jpg
wallpapers/Columbina.mp4
